$orange: #ff6b00;
$orange_fade: #ff6b0080;

.title {
  padding: 20px;
}
.logo {
  padding: 2px;
}
.navbar {
  max-height: 100px;
  .navbar-brand {
    margin-right: 0;
  }
  .navbar-brand-name {
    margin-right: 20px;
  }
}
// For icons
.svg-inline--fa {
  margin-right: 5px;
}

.card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 10px;
  &.fixed-width {
    min-width: 250px;
  }
  margin-bottom: 30px;
}

.table thead th {
  vertical-align: middle;
}

.results-table {
  table {
    table-layout: fixed;
    input {
      width: 100%;
    }
    th {
      word-wrap: break-word;
    }
  }
}

.alert {
  margin-bottom: 0;
  background-color: $orange_fade;
}

.warning-text {
  color: $orange;
}
