<div class="container">
	<h4>Units for All Courses</h4>
	<br/>
  <table class="table table-bordered table-responsive-sm table-sm">
    <thead class="thead-light">
			<th>Code</th>
			<th>Name</th>
		</thead>
		<tbody>
			<% @units.each do |unit| %>
				<tr>
					<td><%= unit.code%></td>
					<td><%= unit.name%></td>
          <td>
						<%= link_to "Edit", edit_unit_path(unit), :class => "btn btn-sm btn-primary" %>
						<%= link_to "Remove", unit_path(unit), method: :delete, :class => "btn btn-sm btn-danger" %>
					</td>
				</tr>
			<% end%>
		<tbody>
	<table>
</div>